@model DepartmentVm
@{
	Setting setting = ViewBag.Setting as Setting;
	ViewBag.Title = "Detail";
}

<!-- Page Title -->
<div class="page-title">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-7">
				<h2>Department</h2>
			</div>

			<div class="col-md-6 col-lg-5">
				<ul>
					<li><a href="@Url.Action("index","home")">Home</a></li>
					<li>Department</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- End Page Title -->
<!-- Department Details section -->
<section class="department-details ptb-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12">
				<div class="department-details">
					<div class="img">
						<img src="~/Uploads/@Model.Department.Photo" alt="department-details">
					</div>

					<div class="department-desc">
						@Html.Raw(Model.Department.Text)
					</div>

					<div class="share-department">
						<h4>Like this department?</h4>

						<ul>
							@if (setting.Twitter != null)
							{
								<li><a href="https:// @setting.Twitter .com" target="_blank"><i class="icofont-@setting.Twitter"></i></a></li>
							}
							@if (setting.Facebook != null)
							{
								<li><a href="https:// @setting.Facebook .com" target="_blank"><i class="icofont-@setting.Facebook"></i></a></li>
							}
							@if (setting.Instagram != null)
							{
								<li><a href="https:// @setting.Instagram .com" target="_blank"><i class="icofont-@setting.Instagram"></i></a></li>
							}
						</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-12">
				<div class="department-sidebar">
					<div class="department-info">
						<h4>Head of Department</h4>
						<ul>
							<li>@Model.Speciality.Name <span>Dr. @Model.Doctor.Name @Model.Doctor.Surname</span></li>
						</ul>
					</div>

					<div class="department-info">
						<h4>Event Hours</h4>
						<ul>
							<li>Mon-Sun <span>Attending physician</span></li>
						</ul>
					</div>

					<div class="department-info mb-0">
						<h4>Contacts</h4>
						<ul>
							<li>Address: <span>Suite 304. Brooklyn, NY 10036</span></li>
							<li>Email: <span><a href="#">doctor-promedi@mail.com</a></span></li>
							<li>Call Us: <span>+1-800-123-1234</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Department Details section -->
<!-- Call To Action -->
<section class="call-to-action">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<div class="call-to-action-text">
					<i class="icofont-first-aid"></i>
					<h3>Health Care Center</h3>
					<p>if you have any Emerangcy by health problem contact this <span>No. 035 687 9514</span> or contact form</p>
				</div>
			</div>

			<div class="col-lg-3">
				<a href="@Url.Action("index","contact")" class="default-btn">Contact Us</a>
			</div>
		</div>
	</div>
</section>
<!-- End Call To Action -->