@{ 
	List<BlogTag> tags = ViewBag.Tags as List<BlogTag>;
	List<BlogCat> cats = ViewBag.Cats as List<BlogCat>;
	List<Blog> blogs = ViewBag.BlogList as List<Blog>;

}
<div class="col-lg-4 col-md-12">
	<div class="side-bar">
		<div class="widget search-box">
			<form>
				<input type="text" class="form-control" id="search-box" name="search" placeholder="Search for...">
				<button type="submit" class="default-btn"><i class="icofont-ui-search"></i></button>
			</form>
		</div>

		<div class="widget latest-post">
			<h4 class="title">Latest Post</h4>


			@foreach (Blog blog in blogs)
			{
		<div class="single-post">
			<div class="img">
				<a href="@Url.Action("detail", "blog", new {Slug=blog.Slug })"><img src="~/Public/img/news/@blog.Photo" alt="latest-post"></a>
			</div>

			<div class="content">
				<ul>
					<li>Posted by <a href="@Url.Action("detail", "blog", new {Slug=blog.Slug })">Dr. @blog.Doctor.Name</a></li>
				</ul>
				<h4><a href="@Url.Action("detail", "blog", new {Slug=blog.Slug })">@blog.Title</a></h4>
			</div>
		</div>
			}
		</div>

		<div class="widget categories">
			<h3 class="title">Categories</h3>

			<ul>
				@foreach (BlogCat cat in cats)
				{
					<li><a href="#"><i class="icofont-double-right"></i> @cat.Name</a></li>

				}

			</ul>
		</div>

		<div class="widget popular-tags">
			<h3 class="title">Popular Tags</h3>

			<ul>
				@foreach (BlogTag tag in tags)
				{
					<li><a href="#">@tag.Name</a></li>

				}

			</ul>
		</div>

		<div class="widget quick-contact mb-0">
			<h4>Quick contact to help?</h4>
			<p>Excepteur sint occaecat non proident, sunt in culpa officia deserunt mollit anim id est laborum.</p>
			<a href="@Url.Action("index","contact")">Contact Us <span class="right"><i class="icofont-double-right"></i></span></a>
		</div>
	</div>
</div>