
@{
	Setting setting = ViewBag.Setting as Setting;
	List<Doctor> doctor = ViewBag.DocList as List<Doctor>;
	List<Speciality> speciality = ViewBag.Spesiality as List<Speciality>;

	ViewBag.Title = "Index";
}

<!-- Page Title -->
<div class="page-title">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-7">
				<h2>Doctors</h2>
			</div>

			<div class="col-md-6 col-lg-5">
				<ul>
					<li><a href="@Url.Action("index","home")">Home</a></li>
					<li>Doctors</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- End Page Title -->
<!-- Expert Doctors -->
<section class="expert-doctors ptb-100 gray-bg pb-70">
	<div class="container">
		<div class="row">
			@foreach (Doctor doc in doctor)
			{
				<div class="col-lg-4 col-md-6">
					<div class="single-card">
						<div class="thumb-img">
							<img src="~/Uploads/@doc.Photo" alt="Doctor Image" />

							<div class="hover-social">
								<div class="d-table">
									<div class="d-tablecell">
										<ul>
											@if (setting.Twitter != null)
											{
												<li><a href="https:// @setting.Twitter .com" target="_blank"><i class="icofont-@setting.Twitter"></i></a></li>
											}
											@if (setting.Facebook != null)
											{
												<li><a href="https:// @setting.Facebook .com" target="_blank"><i class="icofont-@setting.Facebook"></i></a></li>
											}
											@if (setting.LinkedIn != null)
											{
												<li><a href="https:// @setting.LinkedIn .com" target="_blank"><i class="icofont-@setting.LinkedIn"></i></a></li>
											}
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="caption-text text-center">
							<a href="@Url.Action("detail", "doctor", new {Slug=doc.Slug })">
								<h3>Dr. @doc.Name @doc.Surname</h3>
							</a>
							<span class="designation mb-10">
								@speciality.FirstOrDefault(s => s.DepartmentId == doc.DepartmentId).Name

							</span>
							<p>@doc.Desc</p>
						</div>
					</div>
				</div>

			}

		</div>
	</div>
</section>
<!-- Edn Expert Doctors -->
<!-- Call To Action -->
<section class="call-to-action">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<div class="call-to-action-text">
					<i class="icofont-first-aid"></i>
					<h3>Health Care Center</h3>
					<p>if you have any Emerangcy by health problem contact this <span>No. 035 687 9514</span> or contact form</p>
				</div>
			</div>

			<div class="col-lg-3">
				<a href="@Url.Action("index","contact")" class="default-btn">Contact Us</a>
			</div>
		</div>
	</div>
</section>
<!-- End Call To Action -->