@model IEnumerable<ProMediMvc.Models.Setting>

@{
	ViewBag.Title = "Index";
}
<div class="card-header card-header-danger">
	<h4 class="card-title ">Setting</h4>
</div>
<div class="card-body table-responsive">
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Logo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Phone)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Address)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					<img src="~/Uploads/@item.Logo" width="100" />

				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Phone)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Address)
				</td>
				<td>
					<a href="@Url.Action("edit", new { id = item.Id })" rel="tooltip" class="btn btn-primary">
						<i class="fas fa-edit"></i>
					</a>
					<a href="@Url.Action("details", new { id = item.Id })" rel="tooltip" class="btn btn-success">
						<i class="fas fa-info"></i>
					</a>
				</td>
			</tr>
		}

	</table>
</div>
